* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --darkprimary: #111325;
  --mediumprimary: #0c3664;
  --lightprimary: #0062ff;
}

h1 {
  color: var(--lightprimary);
}

::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-repeat: no-repeat;
  background-color: var(--darkprimary);
}

.header {
  width: 100%;
  height: max-content;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 10%;
}

nav ul {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0l5s ease-out;
  transition: all 0.5s ease;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
  cursor: pointer;
}

nav ul li a {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  color: var(--lightprimary);
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

nav ul li a:hover,
nav ul li a.active {
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: var(--mediumprimary);
}

.hero-box {
  max-width: 700px;
}

.hero-box p {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 35px;
}

.hero-box h1 {
  color: var(--lightprimary);
  font-size: 45px;
  -webkit-transition: font-size 1s ease-out;
  -moz-transition: font-size 1s ease-out;
  -o-transition: font-size 1s ease-out;
  transition: font-size 1s ease-out;
}

.hero-box h1 span {
  margin-top: 20px;
}

/* .hero-box a{
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--darkprimary);
  border-radius: 20px;
  padding: 15px 25px;
  color: white;
  box-shadow: solid #373737 10px 10px 10%;
} */

/* Read More Btn */
.readMore {
}

.readMore:hover {
  color: white;
  background: var(--lightprimary);
}

.logo-box img {
  border-radius: 50%;
  padding: 30px;
  background: var(--darkprimary);
  width: 200px;
  height: 200px;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}

.logo-box img:hover {
  transform: translateY(20px);
  box-shadow: var(--mediumprimary);
}

.hero-grandfather {
  background-image: url("./images/backgroundWaves.svg");
  padding: 0 10%;
}

.hero-parent {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

nav #menuIcon {
  color: var(--lightprimary);
  font-size: 25px;
  float: right;
  cursor: pointer;
  display: none;
}

.about-box {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-box p {
  color: #808ab8;
  max-width: 700px;
  font-size: 20px;
}

.about-box h1 {
  color: var(--lightprimary);
  font-size: 45px;
  margin-bottom: 20px;
}

.about-box h1 p span {
  font-weight: bold;
  color: --darkprimary;
}

.about-box h3 {
  color: #373737;
  font-size: 25px;
}

.box {
  width: 250px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  border-radius: 50px;
  background: var(--mediumprimary);
  box-shadow: 10px 10px 40px #0c366475, -10px -10px 40px #0c366475;
  transition: transform 0.2s;
  margin: 20px;
}
.box:hover {
  transform: translateY(5px);
}
.box .percent {
  width: 150px;
  height: 150px;
  position: relative;
}
.box .percent svg {
  width: 150px;
  height: 150px;
  position: relative;
}
.box .percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}
.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: var(--mediumprimary);
}
.box .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: #03a9f4;
}

.box .percent .num {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  text-shadow: 5px 5px 50px #ffffff94;
}
.box .percent .num h2 {
  font-size: 40px;
}
.box .percent .num h2 span {
  font-size: 20px;
}
.box .text {
  margin-top: 20px;
  padding: 10px 0 0;
  color: white;
  text-shadow: 5px 5px 50px #ffffff94;
  font-weight: 700;
  letter-spacing: 1px;
}

/*
Second Box
*/

.box .percent2 {
  width: 150px;
  height: 150px;
  position: relative;
}
.box .percent2 svg {
  width: 150px;
  height: 150px;
  position: relative;
}
.box .percent2 svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}
.box .percent2 svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: var(--mediumprimary);
}
.box .percent2 svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 80) / 100);
  stroke: #03a9f4;
}

.box .percent2 .num {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  text-shadow: 5px 5px 50px #ffffff94;
}
.box .percent2 .num h2 {
  font-size: 40px;
}
.box .percent2 .num h2 span {
  font-size: 20px;
}
.box .text {
  margin-top: 20px;
  padding: 10px 0 0;
  color: white;
  text-shadow: 5px 5px 50px #ffffff94;
  font-weight: 700;
  letter-spacing: 1px;
}

/*
Box 3
*/

.box .percent3 {
  width: 150px;
  height: 150px;
  position: relative;
}
.box .percent3 svg {
  width: 150px;
  height: 150px;
  position: relative;
}
.box .percent3 svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}
.box .percent3 svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: var(--mediumprimary);
}
.box .percent3 svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 95) / 100);
  stroke: #03a9f4;
}

.box .percent3 .num {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  text-shadow: 5px 5px 50px #ffffff94;
}
.box .percent3 .num h2 {
  font-size: 40px;
}
.box .percent3 .num h2 span {
  font-size: 20px;
}
.box .text {
  margin-top: 20px;
  padding: 10px 0 0;
  color: white;
  text-shadow: 5px 5px 50px #ffffff94;
  font-weight: 700;
  letter-spacing: 1px;
}

.percent-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: var(--lightprimary);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
}

.blog {
  padding-top: 5%;
  padding-bottom: 5%;
  border-top: solid 1px #808ab8;
  border-bottom: solid 1px #808ab8;
}

.blog button {
}

.blog h2 {
  margin-bottom: 20px;
  color: #808ab8;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

@media (max-width: 1124px) {
  .blog {
    padding-bottom: 4%;
  }
  .hero-grandfather {
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 15%;
  }

  nav ul.show {
    left: 0;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--darkprimary);
    top: 80px;
    left: -100%;
    text-align: center;
    object-fit: cover;
    display: block;
  }

  nav ul li {
    display: block;
    list-style: none;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    padding: 10px 100px 10px 100px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
  }

  nav ul li a:hover,
  nav ul li a.active {
    font-weight: bold;
    text-decoration: none;
    color: white;
    background: transparent;
    border: 1.5px solid white;
  }

  nav #menuIcon {
    display: block;
  }

  .hero-parent {
    height: 70vh;
    margin-top: 50px;
    flex-direction: column-reverse;
  }

  .logo-box img:hover {
    box-shadow: rgba(255, 87, 34, 1) 10px 10px 100px 5px;
  }

  .hero-box {
    text-align: center;
    justify-content: center;
  }

  .hero-box h1 {
    font-size: 30px;
  }
  .hero-box p {
    margin-bottom: 20px;
    font-size: 25px;
  }
}

@media (max-width: 452px) {
  .blog {
    padding-bottom: 7%;
  }
  .hero-parent {
    height: auto;
  }
  .hero-box h1 {
    font-size: 25px;
  }
}
